		body {
			background-image: url("https://i.imgur.com/CvOaelz.jpg");
			background-size: 100%;
		}
		h1 
		{
			font-family: "Comic Sans";
			color: red;
			text-align: center;		
		}
		h3 {
			color: blue;
			text-align: center;
		}
		h2 {
			color: orange;
			text-align: center;
		}
		img {
			align-content: center;
		}
		a {
			background-color: #333333;
			color: white;
			text-decoration-line: none;
			background-color: black;
			text-align: center;
		}
		a:hover {
			background-color: #838383;
		}
		a:link{
  			background-color: black;
 			color: white;
  			padding: 12px 23px;
  			text-align: center;
  			text-decoration: none;
  			display: inline-block;
		}
		mark {
			color: gray;
			background-color: white;
		}
		img {
			height: 512px;
			width: 512px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		li {
			float: left;
			background-color: #333333;
			font-size: 20px;
		}
		li a{
			background-color: #333333;
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px
			text-decoration: none;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333333;
		}
		i{
			size: 100%;
			color: white;
			text-align: center;
		}
		em {
			font-size: 20px;
			background-color: #333333;
		}
		button {
  			background-color: #333333;
			border: none;
			color: white;
			cursor: pointer;
		}


/*drop sown button*/
.dropbtn {
  background-color: #333333;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #333333;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  background-color: #333333;
}

.dropdown-content a:hover {background-color: #838383;}

.dropdown:hover .dropdown-content {
	display: block;
	background-color: #838383;
}

.dropdown:hover .dropbtn {background-color: #838383;}
/*drop sown button*/
#karesz{
	background-color: #333333;
}
#menu{
	background-color: #333333;
	size: 1920px 14px;
}