a {
	background-color: red;
	color: white;
	padding: 12px 23px;
	text-decoration-line: none;
	text-align: center;
	margin: 0 auto;
	display: block;
}
a:hover {
	color: green;
	background-color: yellow;
}
img{ 
	display: block;
	margin-right: auto;
	margin-left: auto;
}
iframe{
	width: 100%
	height: 100%;
	margin: 0 auto;
	display: block;
}